@model IEnumerable<TripStudent.Models.Reservation>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Add Reservation", "AddReservation")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reservation_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reservation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tripID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentID)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditReservation", new { reservationID = item.reservationID }) |
                @Html.ActionLink("Delete", "DeleteReservation", new { ReservationID = item.reservationID })
            </td>
        </tr>
    }
</table>
